    /*body style*/
body{
    background-color: whitesmoke;
    margin:0;
    background-attachment:scroll;
    background-repeat:no-repeat;
    background-size:100% 800px;
}
    /* header*/
header{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: flex-end;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 60px;
}
.logos{
    width: 50px;
    border-radius:60px;
    height: 50px;
    padding:10px;
    margin-top:5px;
    margin-right:470px;    
}
.logo,h1{
    margin-right:10px;
    justify-content:right;
    font-size:30px;
}

li,a{
    font-family:sans-serif;
    font-size: 16px;
    color: rgb(240, 225, 198);
    text-decoration: none;
    padding-right: 10px;
    text-transform: uppercase;
}   
h1{
    color: red;
    margin-right: 50px;
    float: right;
    justify-content:right;
}
.navbar{
    flex-wrap: wrap;
}
.nav_link{
    list-style: none;
}
.nav_link,li{
    display: inline-block;
    padding: 0 20px;
}
.nav_link,li,a{
    transition: all 0.3s ease 0s;   
}
.nav_link,li a:hover{
    color: blue; 
    cursor: pointer;  
} 
    /*section style*/
section{
    margin: 0;
}
img{
    width:100%;
    height:500px;
    object-fit:fill;
    padding-top:0;
    opacity:100%;

}
.words{
    margin:10px;
    font-family: initial ;
    color:rgb(250, 245, 245);
}
.point{
    color:rgb(206, 197, 197);
    font-family: sans-serif;
    font-weight: 500;
}
.page{
    color: rgba(199, 190, 190, 0.883);
    font-family:sans-serif;
    font-size: 16px;
    font-weight:500px;
    line-height:1.5em;
}
.content{
    background-color: rgba(14, 13, 13, 0.897);
    width: 100%;
}
.button{
    padding: 4px 5px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    border:darkslategrey;
    border-style: groove;
    margin-left: 10px;
    margin-bottom: 10px;
}
.button:hover{
    background:cadetblue;
    color:white;
}
#main{
    width:100%;
    height:450px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(9, 9, 10);
    position:relative;
    top: 0;
}
.block-1 {
    float:left;
    width:28.3%;
    border:1px solid;
    padding:10px;
    box-sizing: border-box;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    background-color: rgba(171, 173, 165, 0.8);
    opacity: 70%;
    color:white;
    object-fit: fill;
    margin:0;
    height: 450px;
}
.none{
    display: flex;
    position: relative;
    width:100%;
    height:200px;
    object-fit:contain;
    background-color:black;
    box-sizing:border-box;
    margin:0;
    padding:0;
}
.value{
    color:white;
    text-transform: capitalize;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight:500px;
}
.idea{
    text-align: center;
}
.block-2{
    float:left;
    width:28.3%;
    border:1px solid;
    padding: 10px;
    box-sizing: border-box;
    flex-wrap:wrap;
    display: flex;
    justify-content: space-around;
    background-color:rgb(7, 6, 6);
    color: white;
    object-fit:fill;
    margin:0;
    height:450px;
}
.none-2{
    display: flex;
    position: relative;
    width:100%;
    height:200px;
    object-fit:contain;
    background-color:black;
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
.value{
    color:white;
    text-transform: capitalize;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight:500px;
    justify-content:space-evenly;
}
.idea{
    text-align: center;
}
.block-3{
    float:left;
    width:28.3%;
    border:1px solid;
    padding:10px;
    box-sizing: border-box;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    background-color:rgb(8, 8, 8);
    color: white;
    margin:0;
    height:450px;
}
.none-3{
    display: flex;
    position: relative;
    width:100%;
    height:200px;
    object-fit:contain;
    background-color:black;
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
.value{
    color:white;
    text-transform: capitalize;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight:500px;
}
.idea{
    text-align: center;
    margin:0;
}
 footer{
    background:black;
    position:relative;
    margin: 0;
    height:auto;
    justify-content:space-between;
    flex-wrap:wrap;
    padding-left: 60px;
}
.sec-footer{
    width: 28.3%;
    box-sizing: border-box;
    border: 1px solid;
}
h2{
   color: tan;
   padding-left:1px;
   margin-right: 20px; 
}
.pname{
    color: rgb(143, 133, 143);
    padding-left: 20px;
}
.fname{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
}
.footer_link2{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    padding:0;
    color: white;
}
 .footer_link,a{
    font-family:sans-serif;
    font-size: 16px;
    color:white;
    text-decoration: none;
    padding-right:1px;
    text-transform: uppercase;
    width:70px;
    height:70px;
    border-radius: 30px;
    flex-direction: column;

} 
.m{
    width:40px;
    height:40px;
    border-radius:20px;
    flex-direction: column;
    padding-left: 3px 3px;
}
#all{
    width: 100%;
    height:360px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    position: relative;
    top: 0;
}
 .sec1{
    float: left;
    width:28.3%;
    border: 1px solid;
    padding:10px;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-around;
    height:200px;
}
.sec2{
    float: left;
    width:28.3%;
    border: 1px solid;
    padding: 1px;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-around;
    height:200px; 
}
h2{
    align-items: flex-start;
    text-align: center;
}  
.p{
    padding: 0;
    margin:5px;
}     */
/* footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
} 
    /* footer */
/* #mainfooter{
   width: 100%;
   height: 450px;
   display: flex;
   flex-direction: row;
   justify-content:space-evenly; 
   position: relative;
   top: 0;
}
#mainfooter{
    background: rgb(8, 8, 8);
}
.fname{
    text-align: left;
    padding:0 100px;
    color:tan;
    text-transform: lowercase;
}
.pname{
    color:white;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 13px;
    text-align: left;
} */


/* .sub{
    float: left;
    width:28.3;
    border: 1px solid red;
    padding:10px;
    box-sizing: border-box;
      box-sizing: border-box;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    background-color: rgba(39, 39, 6, 0.8);
    opacity: 70%;
    color:white;
    object-fit: fill;
    margin:0;
    height: 550px;
}
.fname{
    color: turquoise;
    font-weight: 500;
    text-transform:lowercase;
    border: 1px solid blue;
    margin-right: 1010px;
    height: 20px;
}
.pname{
    color:white;
    border:1px solid green;
    width:28.3%;
    align-items: center;
    padding-left: 90px;
    height:100px;
    

    
}
.m{
    width: 50px;
    height:50px;
    border-radius: 25px;

} */










