*{
    padding: 0;
    margin: 0;
    text-decoration:none;
    list-style: none;
}
header{
    width:100%;
    height:80px;
    background:black;
    display: flex;
}
nav{
    height: 80px;
    width: 100%;
    background:black;
    display: flex;
    justify-content: space-between;
    position: fixed;
}
.nav-logo{
    width:30%;
    display: flex;
}
.logo1{
    font-size:20px;
    font-weight: bold;
    color:rgb(187, 9, 9);
    padding: 0 50px;
    line-height: 20px;
    margin-top:30px;
    margin-left:-40px;
}
.nav-links{
    flex-wrap: wrap;
    width:33%;
    display:inline-block;
    margin-right: 40px;
}
.m{
    width:80px;
    height:80px;
}

.links li{
    float:left;
    display:flex;
    flex-direction: row;
    margin-top:30px;
    padding:3px; 
}
a{
    color:white;
    font-size: 15px;
    font-family:sans-serif;
    margin: 8px;
    text-decoration: none;
    text-transform:uppercase;
}
li a{
    transition: all 0.3s ease 0s;
}
li a:hover{
    color: blue; 
    cursor: pointer;
}
section{
    margin: 0;
}
img{
    width:100%;
    height:550px;
    object-fit:fill;
    padding-top:0;
    opacity:100%;

}
.words{
    margin:10px;
    font-family: initial ;
    color:black;
}
.point{
    background:black;
    font-family: sans-serif;
    font-weight: 500;
}
.page{
    color: black;
    font-family:sans-serif;
    font-size: 16px;
    font-weight:500px;
    line-height:1.5em;
}
.content{
    background-color: white;
    width: 100%;
}
.button{
    padding: 4px 5px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    border:darkslategrey;
    border-style: groove;
    margin-left: 10px;
    margin-bottom: 10px;
}
.button:hover{
    background:cadetblue;
    color:white;
}
#main{
    width:100%;
    height:450px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    background: white;
    position:relative;
    top: 0;
} 
.block-1 {
    float:left;
    width:28.3%;
    border:1px solid;
    padding:10px;
    box-sizing: border-box;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    color:white;
    object-fit: fill;
    margin:0;
    height: 450px;
}
.none{
    display: flex;
    position: relative;
    width:100%;
    height:200px;
    object-fit:contain;
    box-sizing:border-box;
    margin:0;
    padding:0;
}
.value{
    color:black;
    text-transform: capitalize;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight:500px;
}
.idea{
    text-align: center;
    color:black;
    text-align: justify;
    text-decoration: none;
}
.block-2{
    float:left;
    width:28.3%;
    border:1px solid;
    padding: 10px;
    box-sizing: border-box;
    flex-wrap:wrap;
    display: flex;
    justify-content: space-around;
    color: white;
    object-fit:fill;
    margin:0;
    height:450px;
}
.none-2{
    display: flex;
    position: relative;
    width:100%;
    height:200px;
    object-fit:contain;
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
.value{
    color:black;
    text-transform: capitalize;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight:500px;
    justify-content:space-evenly;
}
.idea{
    text-align: center;
    color: black;
    text-decoration: none;
    text-align: justify;
}
.block-3{
    float:left;
    width:28.3%;
    border:1px solid;
    padding:10px;
    box-sizing: border-box;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    color: white;
    margin:0;
    height:450px;
}
.none-3{
    display: flex;
    position: relative;
    width:100%;
    height:250px;
    object-fit:contain;
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
.value{
    color:black;
    text-transform: capitalize;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight:500px;
}
.idea{
    text-align: center;
    text-align: justify;
    color: black;
    text-decoration: none;
}
.spot{
    display: flex;
    flex-wrap: wrap;

}
.y{
    width: 100%;
    box-sizing: border-box;
    object-fit:fill;
    height:300px;
    margin-top:460px;
}
footer{
    width:100%;
    height:100px;
    background: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.blck{
    color: white;
    height: 80px;
    font-size: 18px;
    background-color:  rgba(0,0,0,0.9);
    position: relative;
    width: 100%;
    top: 0px;
}